# Ignore node_modules folder
node_modules/

# Ignore logs
*.log

# Ignore npm package lock files (optional)
package-lock.json
yarn.lock

# Ignore build folders (for React Native or other build tools)
build/
dist/

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore environment files
.env
